- if Workarea.config.trustpilot_key.present?
  / TrustBox script
  %script{:async => "", :src => "//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js", :type => "text/javascript"}
  #tp-snippet
    :javascript
      (function(w,d,s,r,n){
        w.TrustpilotObject=n;
        w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)};
        a=d.createElement(s);
        a.async=1;
        a.src=r;
        a.type='text/java'+s;
        f=d.getElementsByTagName(s)[0];
        f.parentNode.insertBefore(a,f)}
      )(window,document,'script', 'https://invitejs.trustpilot.com/tp.min.js', 'tp');
      tp('register', "#{Workarea.config.trustpilot_key}");
  / End TrustBox script