/ TrustBox widget - Carousel
.trustpilot-widget{"data-businessunit-id" => "595e64c60000ff0005a61ab2", "data-locale" => "en-US", "data-stars" => "1,2,3,4,5", "data-style-height" => "130px", "data-style-width" => "100%", "data-template-id" => "53aa8912dec7e10d38f59f36", "data-theme" => "light"}
/ End TrustBox widget